body{
	Background-color: tomato; 
}
body {
  background-image: url("file:///C:/Users/SMASH%20Scholar/Downloads/download%20(1).jfif")
 }
h1{
	color: black;
}
#jj{
	float:right;
	width:150px;
}
#qb{
	border:1px solid;
}

#wp{
	border:1px solid;
}